@import '../../blocks/input/input.scss';
@import '../../blocks/dropdown/dropdown.scss';
@import '../../blocks/calendar/calendar.scss';
@import '../../blocks/button/button.scss';
@import '../../blocks/radiobutton/radiobutton.scss';
@import '../../blocks/toggle/toggle.scss';

.card-wrapper {
  @include cardWrapper;
}

.card__title {
  margin-bottom: 18px;
}

.card__content {

  &--search {
  margin-bottom: 31px;
  }

  &--registration {

    &--block1 {
      margin-bottom: 23px;
    }
    &--block2 {
      margin-bottom: 20px;
    }
    &--block3 {
      margin-bottom: 22px;
    }
  }

  &--entry {
    margin-bottom: 20px;
  }
}

.card__content--item {
  margin-bottom: 10px;
}

.card__button {
  height: 44px;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

  &--button {
    width: 99px;
    height: 44px;
  }
}