mixin social()
  .social-icons
    a(class="social-icons__item social-icons__item--twitter" href="https://twitter.com/" target="_blank")
    a(class="social-icons__item social-icons__item--fb" href="https://facebook.com/" target="_blank")
    a(class="social-icons__item social-icons__item--instagram" href="https://www.instagram.com/" target="_blank")
