.social-icons {
  &__item {
    margin-right: 22px;
    text-decoration: none;

    &:last-child {
      margin-right: 1px;
    }

    &--twitter:before {
      content: '\f099';
      @include fontAwesomeIcons;
      font-size: 27px;
    }

    &--fb:before {
      content: '\f308';
      @include fontAwesomeIcons;
    }

    &--instagram:before {
      content: '\f16d';
      @include fontAwesomeIcons;
    }
  }
}