mixin logo(isColor)
  if (isColor === 'color')
    .logo--main
  else
    //- if (isColor == "gray") пока решила, что лучше пусть показывается хоть какой-то логотип,
    //- чем никакого при ошибке ввода. Потом, возможно, переделаю или сделаю три условия
    .logo--ui-kit