@import '../../blocks/input/input.scss';
@import '../../blocks/button/button.scss';
@import '../../blocks/calendar/calendar.scss';
@import '../../blocks/dropdown/dropdown.scss';

.card-wrapper {
  @include cardWrapper;
}

.card__button {
  height: 44px;
}

.card__content--booking--block1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;

  .roomID {
    @include head2;
    margin-top: 3px;

    span.roomNumber {
      font-size: #{$font-h1/$font-body}rem;

      &::before {
        content: "№ ";
        margin-right: 2px;
        font-size: 1rem;
      }
    }

    span.roomType {
      @include head3;
      color: $primary-theme-color;
      margin-left: 6px;
    }
  }

  .costPerDay {
    padding-top: 5px;
    font-weight: bold;

    span.costComment {
      margin-left: 1px;
      font-size: #{$font-h3/$font-body}rem;
      font-weight: normal;
    }
  }
}

.card__content--booking--block3 {
  display: grid;
  grid-template-columns: auto 20px 80px;
  //grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 16px;
  margin-top: 21px;
  line-height: 18px;
  //grid-auto-flow: column;
}

.costsCalc--title {
  grid-column: 1/2;
  grid-row: 1/2;
}
.costsCalc--value {
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: right;
}
.discount--title {
  grid-column: 1/2;
  grid-row: 2/3;
}

.discount.card--info {
  grid-column: 2/3;
  grid-row: 2/3;
}

.discount--value {
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: right;
}

.servicesCost--title {
  grid-column: 1/2;
  grid-row: 3/4;
}

.servicesCost.card--info {
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: center;
}

.servicesCost--value {
  grid-column: 3/4;
  grid-row: 3/4;
  text-align: right;
}

.card--info {
  height: 20px;
  width: 20px;
  margin-top: -2px;
  border: $border-base;
  border-radius: 50%;
  @include head3;
  line-height: 18px;
  text-align: center;
  color: $secondary-color;
  text-transform: none;
}

.totalCost {
  grid-column: 1/4;
  grid-row: 4/5;
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-top: 17px;
  margin-bottom: 22px;
  @include head2;

  &--title {
    padding-right: 5px;
  }
  &--filling {
    position: relative;
    top: -3px;
    border-bottom: $border-depth dotted $secondary-color;
  }
  &--value {
    text-align: right;
    padding-left: 5px;
  }
}