//- checkboxes base

//-
  options.title: подпись чекбокса;
  options.description: описание преимуществ для rich checkbox (по умолчанию отсутствует);
  options.name: значение обязательного поля name для инпута (разные имена для каждого чекбокса);
  option.checked: для отмеченных чекбоксов (true), или отсутствует

  //options.ariaLabel: содержание атрибута aria-label для скринридеров;
  //options.action: обязательное поле action формы "/some-address/change-me",
  //options.method: обязательное поле method формы "post"

mixin checkbox(options)
  - const {title, description, name, checked} = options
  - let ifRich= ""

  if(description)
    - ifRich= "checkbox-label--rich"

  li.checkbox-block
    label(class= ifRich)= title
      if(checked)
        input(name= name, type= "checkbox", checked)

      else
        input(name= name, type= "checkbox")
      .checkbox__mark

      if(description)
        p(class= "checkbox-block__description")= description

//- {
      title: "Можно курить",
      description: "",
      name: "smoking",
      checked: true
    }