.checkbox-block {
  input[type=checkbox] {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  label {
    display: block;
    margin-left: 30px;
    line-height: 18px; /* identical to box height, or 129% */
    color: $middle-color;
  }

  .checkbox-label--rich {
    font-weight: bold;
    color: $primary-color;
  }

  .checkbox-block__description {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px; /* or 117% */
    color: $middle-color;
  }

  input[type=checkbox] ~ label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -30px;
    margin-right: 10px;
    margin-top: -7px;
    vertical-align: middle;
    border: 1px solid $secondary-color;
    box-sizing: border-box;
    border-radius: 4px;
  }

  input[type=checkbox]:checked ~ label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -30px;
    margin-top: -7px;
    vertical-align: middle;
    border: 1px solid $primary-theme-color;
    box-sizing: border-box;
    border-radius: 4px;
    /*background-color: seagreen;*/
    background: url("../../blocks/checkbox/img/checkbox.png") no-repeat 50% 50%;
  }
}