.form-wrapper {
  width: 100%;
  margin: 0px;
}

.input__title {
  float: left;
  margin-top: 0px;
  margin-bottom: 5px;
  max-width: 310px;
  font-family: Montserrat, Arial, sans-serif;
  /*это вставить как переменную(или инклюд) из color-types*/
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  /*конец переменной*/
  /*outline: 2px solid red;*/
}

.input__description {
  float: right;
  margin-top: 0px;
  margin-bottom: 5px;
  max-width: 120px;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  /*outline: 2px solid green;*/
}

.input__field {
  width: 100%;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  padding: 13px 0 13px 15px;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  /*outline: 2px solid yellow;*/

  &:hover,
  &:focus {
    border: 1px solid rgba(31, 32, 65, 0.5);
    outline: none;
  }
}

input.input__field::-moz-placeholder {
  color: rgba(31, 32, 65, 0.75);
}
input.input__field::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}
input.input__field::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}
input.input__field::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}
input.input__field::placeholder {
  color: rgba(31, 32, 65, 0.75);
}

input.input__field--light::-moz-placeholder {
  color: rgba(31, 32, 65, 0.25);
}
input.input__field--light::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}
input.input__field--light::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}
input.input__field--light::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}
input.input__field--light::placeholder {
  color: rgba(31, 32, 65, 0.25);
}