@import '../../blocks/navigation/navigation.scss';
@import '../../blocks/button/button.scss';

header.standard {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px $lightest-color;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-container {
  display: flex;
  align-items: center;
}

nav.main-nav {
  margin-right: 12px;
}

.header-button {
  display: flex;
  height: 34px;

  &--signIn {
    margin-right: 20px;
  }
}

.header__userName {
  padding-left: 20px;
  border-left: 1px solid rgba(31, 32, 65, 0.1);
  text-decoration: none;
  color: $middle-color;
}