include ../../blocks/navigation/navigation.pug
include ../../blocks/button/button.pug

mixin header(isRegistered)
  header.standard
    .header__container
      .header__logo
        +logo("color")

      .menu-container
        nav.main-nav
          +navigation("horizontal", [
            {
              title: "Home",
              link: "/some-address/change-me",
              style: "",
              isDifferent: true,
            },
            {
              title: "About Us",
              link: "/some-address/change-me",
              style: "",
            },
            {
              title: "Services",
              link: "/some-address/change-me",
              style: "dropdown",
            },
            {
              title: "Careers",
              link: "/some-address/change-me",
              style: "",
            },
            {
              title: "News",
              link: "/some-address/change-me",
              style: "",
            },
            {
              title: "Documentation",
              link: "/some-address/change-me",
              style: "",
            },
          ])

        if (isRegistered == "registered")
          - let userName = "Cosmin Negoita"
          a(href = "/some-address/change-me" class = "header__userName")= userName

        else
          .header-button.header-button--signIn
            +button(false, {
                title: "Login",
                color: "secondary",
                style: "default",
                ariaLabel: "button",
                link: "/some-address/change-me",
                })
          .header-button.header-button--registration
            +button(false, {
                title: "Register",
                color: "primary",
                style: "default",
                ariaLabel: "button",
                link: "/some-address/change-me",
                })

