@import '../../blocks/navigation/navigation.scss';
@import '../../blocks/button/button.scss';

$headerLayout: (minHeight: 60px,);

header.standard {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px $lightest-color;
}

.header__logo {
  @media (max-width: $media-sMinW) {
    display: none;
  }
}

.header__wrapper {
  display: flex;
  min-height: map_get($headerLayout, 'minHeight');
  align-items: center;
  justify-content: space-between;

  /*@media (max-width: $media-sMinW) {
    align-self: end;
  }*/
}

.menu-container {
  display: flex;
  align-items: center;

  @media (max-width: $media-sMinW) {
    width: 100%;
    justify-content: flex-end;
  }
}

nav.main-nav {
  display: flex;
  margin-right: 0.86rem;

  @media (max-width: $media-sMinW) {
    margin-right: auto;
  }
}

.header-button {
  display: flex;
  height: 34px;

  &--signIn {
    margin-right: 1.43rem;
  }
}

.header__userName {
  padding-left: 1.43rem;
  border-left: $border-light;
  text-decoration: none;
  color: $middle-color;
}
