@import '../../blocks/navigation/navigation.scss';
@import '../../blocks/button/button.scss';
//@import '../../blocks/menu-mobile/menu-mobile.scss';

header.standard {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px $lightest-color;
}

.header__wrapper {
  display: flex;
  min-height: 60px;
  align-items: center;
  justify-content: space-between;
}

.menu-container {
  display: flex;
  align-items: center;
}

nav.main-nav {
  display: flex;
  margin-right: 0.86rem;
}

.header-button {
  display: flex;
  height: 34px;

  &--signIn {
    margin-right: 1.43rem;
  }
}

.header__userName {
  padding-left: 1.43rem;
  border-left: $border-light;
  text-decoration: none;
  color: $middle-color;
}