//- like-button block with a heart

mixin likeButton(id="like", value="2", name="likes", type="checkbox")
  .like-button-block
    input(class= "like-button__input" id= id, name= name, type= type 'data-value'= value)&attributes(attributes)
    label(class= "like-button__label" for= id)= value