.menu__layout {
  //display: flex;

  &--horizontal {
    display: flex;
  }

  &--vertical.submenu {
    position: absolute;
    top: 75%;
    z-index: 10;
    min-width: 200px;
    //margin-top: 10px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    //background-color: inherit;
    //outline: 1px solid seagreen;

    &--close {
      display: none;
    }
  }
}

.menu-item {
  line-height: 24px;
  list-style-type: none;
  color: $middle-color;
  //outline: 2px solid red;

  &--horizontal {
    display: flex;
    position: relative;
    margin: 0 10px 0 10px;
    padding: 22px 0 22px 0;
  }

  &--vertical {
    margin: 14px 0 14px 0;
    //padding: 22px 0 22px 0;
  }

  &--submenu {
    margin: 0;
    padding: 10px 5px 10px 10px;
    line-height: 18px;
    background-color: #ffffff;
    border-bottom: 1px solid $lightest-color;

    &:hover {
      color: $primary-color;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;

    &--different {
      font-weight: bold;
      color: $primary-color;
    }
  }

  &__btn {
    display: flex;
    line-height: inherit;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border: none;
    font: inherit;
    color: inherit;
    background: inherit;
    cursor: pointer;
    outline: none;
  }
}