.menu__layout {
  &--horizontal {
    display: flex;

    @media (max-width: $media-mid) {
      flex-direction: column;
      display: none;
      position: absolute;
      top: 60px;
      z-index: 10;
      width: 220px;
      box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
      border-radius: 0 0 $border-radius $border-radius;
      background-color: #ffffff;
    }
  }

  &--vertical.submenu {
    position: absolute;
    top: 75%;
    z-index: 10;
    min-width: 200px;
    margin-top: 10px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

    &--close {
      display: none;
    }
  }
}

.menu-item {
  line-height: #{$font-h1/$font-body}rem;
  list-style-type: none;
  color: $middle-color;

  &--horizontal {
    display: flex;
    position: relative;
    margin: 0 10px 0 10px;
    padding: 22px 0 22px 0;

    &:hover,
    &:active {
      color: $primary-color;
    }

    @media (max-width: $media-mid) {
      padding: 12px 0 12px 0;
      border-top: $border-base;
    }
  }

  &--vertical {
    margin: 14px 0 14px 0;
  }

  &--submenu {
    margin: 0;
    padding: 10px 5px 10px 10px;
    line-height: 1.28571rem;
    background-color: #ffffff;
    border-bottom: $border-depth $border-style $lightest-color;

    &:hover {
      color: $primary-color;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__btn {
    display: flex;
    line-height: inherit;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border: none;
    font: inherit;
    color: inherit;
    background: inherit;
    cursor: pointer;
    outline: none;
  }
}

// menu mobile (burger)
.menu-mobile {
  margin-right: 2.5rem;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  @media (min-width: $media-mid) {
    display: none;
  }

  &__decorate,
  &__decorate::before,
  &__decorate::after {
    display: block;
    width: 40px;
    height: 6px;
    margin: 7px 0;
    border-radius: 3px;
    background: $primary-gradient;
    transition: all 0.3s;
  }

  &__decorate {
    position: relative;
    opacity: 0.8;

    &::before {
      content: '';
      position: absolute;
      top: -20px;
    }
    &::after {
      content: '';
      position: absolute;
      top: 6px;
    }
  }

  &--active > .menu-mobile__decorate {
    transform: rotate(45deg);

    &::before {
      transform: rotate(90deg) translate(13px, 0px);
    }
    &::after {
      display: none;
      //transform: rotate(-45deg) translate(4px, -9px);
    }
  }
}