.menu-list {
  display: flex;

  .menu-list--horizontal {
    display: flex;
  }
}

.menu-item {
  list-style-type: none;
  padding-left: 14px;
  padding-right: 14px;
  outline: 2px solid red;
}

.menu-item--horizontal i.material-icons {
  margin-right: -6px;
}

.menu-item__link {
  display: flex;
  line-height: 24px;
  color: $middle-color;
  text-decoration: none;
  color: $middle-color;

  &--different {
    font-weight: bold;
    color: $primary-color;
  }
}