mixin rating(value)
  - const rateNumber = 5; // - максимальное кол-во "звезд"

  .rate-buttons-block
    - let n = 1;
      while n < value +1
        i.material-icons star
        - n++

    - n = 1
      while n < rateNumber - value + 1
        i.material-icons star_border
        - n++