.rate-buttons-block {
  display: flex;
  max-width: 100%;

  i {
    @include materialIcons;
    line-height: 20px;
    align-items: center;
    color: $primary-theme-color;
    background: $primary-gradient;
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}