.button-base {
  /*общий вид объемных кнопок и кнопок с градиентной заливкой*/

  height: 100%;
  width: 100%;
  border-radius: 22px;
  box-sizing: border-box;
  font-family: $primary-type;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;

&--primary--default,
&--primary--hover {
  padding: 0 20px 0 20px;
  border: none;
  color: #ffffff;
}

&--primary--default {
  background: $primary-gradient;

  &:hover {
    background: $primary-gradient-half-opacity;
  }
}

&--primary--hover {
  background: $primary-gradient-half-opacity;
}

/*кнопки с градиентной рамкой*/

&--secondary--default,
&--secondary--hover {
  height: 100%;
  padding: 0 18px 0 18px;
  color: $primary-theme-color;
  border: 2px solid transparent;
  background-image:
    linear-gradient(white, white),
    $primary-gradient;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  -webkit-background-clip: padding-box, border-box;
}

&--secondary--default:hover,
&--secondary--hover {
  background-image:
    linear-gradient(white, white),
    $primary-gradient-half-opacity;
}

/*кнопки без рамки*/

&--complementary--default {
  height: 25px;
  padding: 10px 0 13px 0;
  border: none;
  background: #ffffff;

  &[type= submit] {
  color: $primary-theme-color;
  }

  &[type= reset] {
    color: $middle-color;
  }
}

/*стили для иконки на кнопке*/

  form {
    position: relative;

    .material-icons {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 44px;
      height: 100%;
      padding: auto 0 auto 0;
      text-align: center;
      font-family: "Material Icons";
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 44px;
      color: #ffffff;
      /*box-sizing: border-box;
      outline: 1px dashed rosybrown;*/
      }
  }
}