//- кнопки на сайте

//-
  options.title: надпись на кнопке;
  options.color: цветовой стиль кнопки - primary (заливка градиентом),
                                       - secondary (прозрачная с градиентной рамкой),
                                       - complementary (текст без рамки);
  options.style: стиль кнопки при наведении - default по умолчанию,
                                            - hover при наведении;
  options.icon: наличие иконки на кнопке (по умолчанию отсутствует, при необходимости - здесь код иконки MatherialIcons);
  options.name: значение обязательного поля name для кнопки;
  options.value: определяет значение кнопки, которое будет отправлено на сервер;
  options.type: определяет тип кнопки, который устанавливает ее поведение в форме - button / reset / submit;
  options.isVisible: скрывает кнопку при необходимости, по умолчанию true;
  options.ariaLabel: содержание атрибута aria-label для скринридеров;

mixin button(options = {}, isButton = true)
  - const { title, color, style = 'default', icon, name, value, type, ariaLabel, isVisible = true} = options
  - const baseClass = "button-base"
  - let hidden = ""
    if (!isVisible)
      - hidden = " visually-hidden"

  if(isButton == true)
    .button-base
      button(class= `${baseClass} ${baseClass}--${color}--${style}${hidden}`, name = name, value = value, type = type)= title

      if(icon)
        i(class= "material-icons")= icon

  else
    .button-base
      button(class= `${baseClass} ${baseClass}--${color}--${style}${hidden}`, name = name, value = value, type = type)= title
      if(icon)
        i(class= "material-icons")= icon


//-button({
  //title: "Click me",
  //color: "primary",
  //style: "default",
  //icon: "",
  //name: "default",
  //value: "value",
  //type: "button",
  //ariaLabel: "button",
  //})