.button-base {
  /*outline: 2px dashed green;*/

  /*общий вид объемных кнопок и кнопок с градиентной заливкой*/

  button {
    margin: 0;
    padding: 0;
    border-radius: 22px;
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    font-family: $primary-type;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    /*outline: 2px dashed green;*/
  }

  &--primary--default,
  &--primary--hover {
    padding-top: 15px;
    padding-bottom: 12px;
    border: none;
    color: #ffffff;
    outline: none;
  }

  &--primary--default {
    background: $primary-gradient;

    &:hover {
      background: $primary-gradient-half-opacity;
    }
  }

  &--primary--hover {
    background: $primary-gradient-half-opacity;
  }

  /*кнопки с градиентной рамкой*/

  &--secondary--default,
  &--secondary--hover {
    position: relative;
    padding-top: 12px;
    padding-bottom: 10px;
    color: $primary-theme-color;
    border: 2px solid transparent;
    background: #ffffff;
    background-clip: padding-box;
    outline: none;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -2px;
        background: $primary-gradient;
        border-radius: inherit;
      }
  }

  &--secondary--default:hover:before,
  &--secondary--hover:before {
      opacity: 0.5;
  }

  /*кнопки без рамки*/

  &--complementary--default {
    padding-top: 12px;
    padding-bottom: 10px;
    /*color: $primary-theme-color;*/
    border: none;
    background: #ffffff;
    outline: none;

    &[type= submit] {
    color: $primary-theme-color;
    }

    &[type= reset] {
      color: $middle-color;
    }
  }

  /*стили для иконки на кнопке*/

  form {
    position: relative;

    .material-icons {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 44px;
      height: 100%;
      padding: auto 0 auto 0;
      text-align: center;
      font-family: "Material Icons";
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 44px;
      color: #ffffff;
      /*box-sizing: border-box;
      outline: 1px dashed rosybrown;*/
      }
  }
}