@import '../../theme/global.scss';

@import '../../blocks/header/header.scss';
@import '../../blocks/card/card.scss';
@import '../../blocks/footer/footer.scss';

@keyframes backgroundSlide {
  from { background-image: url('../../pages/landing/img/image1.png'); }
  33%  { background-image: url('../../pages/landing/img/image2.png'); }
  66%  { background-image: url('../../pages/landing/img/image3.png'); }
  to { background-image: url('../../pages/landing/img/image1.png'); }
}

html {
  @media (max-width: $media-midW) {
    font-size: 12px;
  }
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.landing {
  height: clamp(480px,calc(100vh - 70px),830px);
  animation-name: backgroundSlide;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  background-position: bottom;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $media-midW) {
    height: max(480px,calc(100vh - 440px));
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 100%;
    padding-top: 70px;
    padding-bottom: 21px;

    @media (max-width: $media-sMinW) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  &__card {
    @media (max-width: $media-minW) {
      margin: 0 auto 0 auto;
    }
  }

  &__brief {
    width: 297px;
    align-self: flex-end;
    text-align: right;

    @media (max-width: $media-minW) {
      display: none;
    }
  }
}


