extends ../base/template-page.pug

include ../../blocks/card/card.pug

block title
  title TOXIN

block scripts

block main
  section.landing
    .container.landing__wrapper
      .landing__card
        +card('search')
      .landing__brief Лучшие номера для вашей работы, отдыха и просто вдохновения