@import '../../theme/global.scss';

@import '../../blocks/header/header.scss';
@import '../../blocks/card/card.scss';
@import '../../blocks/footer/footer.scss';

@keyframes backgroundSlide {
  from { background-image: url('../../pages/landing/img/image1.png'); }
  33%  { background-image: url('../../pages/landing/img/image2.png'); }
  66%  { background-image: url('../../pages/landing/img/image3.png'); }
  to { background-image: url('../../pages/landing/img/image1.png'); }
}

html {
  @media (max-width: $mediaMid) {
    font-size: 12px;
  }
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.landing {
  animation-name: backgroundSlide;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  background-position: bottom;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: cover;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 100%;
    padding-top: 70px;
    padding-bottom: 21px;
  }

  &__brief {
    width: 297px;
    align-self: flex-end;
    text-align: right;
  }
}


