extends ../base/template.pug

block title
  title TOXIN Form-Elements

block scripts

  script(src='./form-elements.js')

block main

  include ../../blocks/logo-uiKit/logo-uiKit.pug

  section.form-elements
    .inputs-wrapper
      include ../../blocks/input/input.pug

      .input__item
        +textField({
          title: "Text field",
          style: "",
          description: "Default",
          type: "text",
          name: "email",
          placeholder: "Email",
          placeholderColor: "--light",
          ariaLabel: "e-mail"
        })

      .input__item
        +textField({
          title: "Text field",
          style: "",
          description: "Hover / Focus",
          type: "text",
          name: "default",
          placeholder: "This is pretty awesome",
          ariaLabel: "hover"
        })

      .input__item
        +textField({
          title: "Dropdown",
          style: "dropdown",
          description: "Default",
          type: "text",
          name: "numberGuests",
          placeholder: "Сколько гостей",
          ariaLabel: "how many guests"
        })

      .input__item
        +textField({
          title: "Masked text field",
          style: "",
          description: "Default",
          type: "text",
          name: "datePicker",
          placeholder: "ДД.ММ.ГГГГ",
          placeholderColor: "--light",
          ariaLabel: "arrival date"
        })

      .inputs-wrapper--smaller
        .input__item.input__item--small
          +textField({
            title: "Date dropdown",
            style: "dropdown",
            type: "text",
            name: "datePicker",
            placeholder: "ДД.ММ.ГГГГ",
            ariaLabel: "arrival date"
          })

        .input__item.input__item--small
          +textField({
            title: "Date dropdown",
            style: "dropdown",
            type: "text",
            name: "datePicker",
            placeholder: "19.08.2019",
            ariaLabel: "arrival date"
          })

      .input__item.input__item--middle
        +textField({
          title: "Filter date dropdown",
          style: "dropdown",
          type: "text",
          name: "datePicker",
          placeholder: "19 авг - 23 авг",
          ariaLabel: "arrival interval"
        })

      .input__item.input__item--middle
        +textField({
          title: "Subscription text field",
          style: "subscribe",
          type: "text",
          name: "email",
          placeholder: "Email",
          placeholderColor: "--light",
          ariaLabel: "email for subscribe"
        })

    .toggles-wrapper

      .checkbox-buttons
        include ../../blocks/checkbox/checkbox.pug
        include ../../blocks/checkbox-list/checkbox-list.pug
        include ../../blocks/checkbox-list/checkbox-list-date.pug

        +checkboxList("Checkbox Buttons", isExpanded = false, options = checkboxListPermission)

      .radio-buttons
        h3.radio-buttons__title Radio Buttons
        include ../../blocks/radiobutton/radiobutton.pug

      .toggles
        include ../../blocks/toggle/toggle.pug

        h3.toggles__title Toggle
        .toggle__item
          +toggles()(checked)
        .toggle__item
          +toggles("offers-no-agree")

      .like-buttons
        include ../../blocks/likes/likes.pug

        h3.like-buttons__title Like button
        .like-buttons__item
          +likeButton()
        .like-buttons__item
          +likeButton("more-likes", "12")(checked)

      .rate-buttons
        include ../../blocks/ratebutton/ratebutton.pug

        h3.rate-buttons__title Rate button

        .rate-buttons__item
          +rating(4)
        .rate-buttons__item
          +rating(5)

    .buttons-wrapper

      .range-slider
        include ../../blocks/range-slider/range-slider.pug

      .buttons
        include ../../blocks/button/button.pug

        h3.buttons__title Buttons
        .buttons__positioner
          .button__item
            +button({
              title: "Click me",
              color: "primary",
              style: "default",
              name: "default",
              value: "value",
              type: "button",
              ariaLabel: "button",
              action: "/some-address/change-me",
              method: "post"
              })
          .button__item
            +button({
              title: "Click me",
              color: "primary",
              style: "hover",
              name: "default",
              value: "value",
              type: "button",
              ariaLabel: "button",
              action: "/some-address/change-me",
              method: "post"
              })

        .buttons__positioner
          .button__item
            +button({
                title: "Click me",
                color: "secondary",
                style: "default",
                name: "default",
                value: "value",
                type: "button",
                ariaLabel: "button",
                action: "/some-address/change-me",
                method: "post"
                })
          .button__item
            +button({
              title: "Click me",
              color: "secondary",
              style: "hover",
              name: "default",
              value: "value",
              type: "button",
              ariaLabel: "button",
              action: "/some-address/change-me",
              method: "post"
              })

        .buttons__positioner.buttons__positioner--tight
          .button__item--tight
            +button({
                title: "Click me",
                color: "complementary",
                style: "default",
                name: "default",
                value: "value",
                type: "submit",
                ariaLabel: "submit",
                action: "/some-address/change-me",
                method: "post"
                })
          .button__item--tight
            +button({
              title: "Click me",
              color: "complementary",
              style: "default",
              name: "default",
              value: "value",
              type: "reset",
              ariaLabel: "reset",
              action: "/some-address/change-me",
              method: "post"
              })

        .button__item--wide
          +button({
              title: "Перейти к оплате",
              color: "primary",
              style: "default",
              icon: "arrow_forward",
              name: "default",
              value: "value",
              type: "submit",
              ariaLabel: "submit",
              action: "/some-address/change-me",
              method: "post"
              })

      .pagination
        include ../../blocks/pagination/pagination.pug

        h3.pagination__title Pagination
        .pagination__positioner
          +pagination(1, 15)

    //- раздел дропдаунов

    .dropdown-room-wrapper
      .dropdown__item
        +textField({
          title: "Dropdown",
          style: "dropdown",
          description: "Default",
          type: "text",
          name: "rooms",
          placeholder: "2 спальни, 2 кровати...",
          ariaLabel: "room convenience"
        })

      .dropdown__item
        +textField({
          title: "Dropdown",
          style: "dropdown",
          expanded: true,
          description: "Expanded",
          type: "text",
          name: "rooms",
          placeholder: "2 спальни, 2 кровати...",
          ariaLabel: "room convenience"
        })

        include ../../blocks/dropdown/expand.pug
        .expand
          +selection("Спальни", "bedrooms", 2)
          +selection("Кровати", "beds", 2)
          +selection("Ванные комнаты", "bathrooms", 0)

          script(src='../../blocks/dropdown/dropdown.js')

    .dropdown__item--guests.dropdown__item--guests--1
      +textField({
        title: "Dropdown",
        style: "dropdown",
        expanded: true,
        type: "text",
        name: "guests",
        placeholder: "Сколько гостей",
        ariaLabel: "quantity guests"
      })

      .expand
        +selection("Взрослые", "adults", 0)
        +selection("Дети", "childrens", 0)
        +selection("Младенцы", "babies", 0)

        .button__form
          +button({
                title: "Очистить",
                color: "complementary",
                style: "default",
                name: "default",
                value: "value",
                type: "reset",
                ariaLabel: "submit",
                action: "/some-address/change-me",
                method: "post"
                })

          +button({
                title: "Применить",
                color: "complementary",
                style: "default",
                name: "default",
                value: "value",
                type: "submit",
                ariaLabel: "submit",
                action: "/some-address/change-me",
                method: "post"
                })
        script(src='../../blocks/dropdown/dropdown.js')

    .dropdown__item--guests.dropdown__item--guests--2
      +textField({
        title: "Dropdown",
        style: "dropdown",
        expanded: true,
        type: "text",
        name: "guests",
        placeholder: "Сколько гостей",
        ariaLabel: "quantity guests"
      })

      .expand
        +selection("Взрослые", "adults", 2)
        +selection("Дети", "childrens", 1)
        +selection("Младенцы", "babies", 0)

        .button__form
          +button({
                title: "Очистить",
                color: "complementary",
                style: "default",
                name: "default",
                value: "value",
                type: "reset",
                ariaLabel: "submit",
                action: "/some-address/change-me",
                method: "post"
                })

          +button({
                title: "Применить",
                color: "complementary",
                style: "default",
                name: "default",
                value: "value",
                type: "submit",
                ariaLabel: "submit",
                action: "/some-address/change-me",
                method: "post"
                })
        script(src='../../blocks/dropdown/dropdown.js')


    //- раздел checkboxes

    .checkbox__expandable
      +checkboxList("Expandable checkbox list", isExpanded = true, options = checkboxListComfort)





  section.features