@import "../../theme/global.scss";

@import "../../blocks/input/input.scss";
@import "../../blocks/checkbox/checkbox.scss";
@import "../../blocks/radiobutton/radiobutton.scss";
@import "../../blocks/toggle/toggle.scss";
@import "../../blocks/likes/likes.scss";
@import "../../blocks/ratebutton/ratebutton.scss";
@import "../../blocks/range-slider/range-slider.scss";
@import "../../blocks/button/button.scss";
@import "../../blocks/pagination/pagination.scss";
@import "../../blocks/dropdown/dropdown.scss";
@import "../../blocks/checkbox-list/checkbox-list.scss";
@import "../../blocks/bullet-list/bullet-list.scss";
@import "../../blocks/features-brief/features-brief.scss";
@import "../../blocks/comment/comment.scss";


html {
  width: 1440px;
}

section.form-elements {
  display: grid;
  grid-template-columns: 447px 392px 320px;
  /*width: 100%;*/
  padding: 0;
  margin: 66px 0 146px 140px;
  /*outline: 2px solid rgb(0, 255, 115);
  box-sizing: border-box;*/
}

.inputs-wrapper {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  width: 320px;
  outline: 2px dotted green;
  box-sizing: border-box;

  &--smaller {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 42px;
  }
}

.input__item {
  margin-bottom: 20px;
  outline: 2px solid green;
  box-sizing: border-box;

  &--middle {
    width: 266px / 320px * 100%;
    margin-top: 21px;
    margin-bottom: 43px;
    outline: 2px solid red;
    box-sizing: border-box;
  }

  &--small {
    width: 150px / 320px * 100%;
    outline: 2px solid blue;
    box-sizing: border-box;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.toggles-wrapper {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  /*width: 265px;*/
  /*margin-left: 126px;*/
  outline: 2px solid green;
  box-sizing: border-box;
}

.checkbox-buttons__title,
.radio-buttons__title,
.toggles__title,
.like-buttons__title,
.rate-buttons__title,
.buttons__title,
.pagination__title,
.bullet-list__title,
.checkbox-list__title {
  margin-bottom: 16px;
}

.checkbox-buttons {
  max-width: 225px;
  margin-bottom: 45px;
  /*outline: 2px solid red;
  box-sizing: border-box;*/
}

.radio-buttons {
  /*max-width: 100%;*/
  margin-bottom: 40px;
  /*outline: 2px solid red;
  box-sizing: border-box;*/
}

.toggles {
  /*max-width: 100%;*/
  margin-bottom: 40px;
  /*outline: 2px solid red;
  box-sizing: border-box;*/
}

.toggle__item {
  margin-bottom: 10px;
  /*outline: 2px solid rosybrown;
  box-sizing: border-box;*/
}

.like-buttons {
  margin-bottom: 40px;
  outline: 2px solid red;
  box-sizing: border-box;
}

.like-buttons__item {
  display: inline-block;
  margin-right: 10px;
  /*outline: 2px dashed yellow;
  box-sizing: border-box;*/
}

.rate-buttons {
  margin-bottom: 41px;
  outline: 2px solid red;
  box-sizing: border-box;

  .rate-buttons__item {
    display: inline-block;
    margin-right: 20px;
    max-width: 120px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.buttons-wrapper {
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  /*margin-left: 132px;*/
}

.range-slider__wrapper {
  width: 266px;
  margin-bottom: 33px;
  outline: 1px solid red;
}

.buttons {

  .buttons__positioner {
    display: flex;
    justify-content: space-between;
    width: 218px;
    margin-bottom: 30px;
    box-sizing: border-box;
    outline: 2px solid red;

    &--tight {
      width: 142px;
      margin-top: -11px;
      margin-bottom: -9px;
    }
  }

  .button__item {
    display: flex;
    height: 44px;
    min-width: 99px;

    &--tight {
      height: 44px;
      width: 61px;
    }

    &--wide {
      margin-top: 23px;
      margin-bottom: 40px;
      width: 320px;
    }
  }
}

/*секция дропдаунов*/

.dropdown-room-wrapper {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 266px;
  height: 286px;
  margin-top: 100px;
  outline: 2px solid rgb(128, 87, 0);
  box-sizing: border-box;
}

  .dropdown__item {
    margin-bottom: 20px;
    box-sizing: border-box;
    /*outline: 2px solid rgb(0, 55, 128);*/

    &--guests {
      width: 320px;
      margin-top: 100px;

      &--1 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
      }

      &--2 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
      }
    }
  }

  .button__form {
    display: flex;
    justify-content: space-between;
    margin: 15px 7px 5px 14px;
    /*background-color: red;
    outline: 2px solid green;*/
    box-sizing: border-box;

    button {
      height: 25px;
    }
  }

.checkbox__expandables__wrapper {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 34px;
}

.checkbox__expandable__item:last-child {
  margin-top: 49px;
}

.checkbox__rich {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  height: 339px;
  margin-top: 34px;
}

.bullets {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 34px;
}

.features-brief-block {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  margin-top: 7px;
}

.comment-block {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  margin-top: 38px;
}