@import "../../theme/global.scss";

@import "../../blocks/logo-uiKit/logo-uiKit.scss";

section.inputs {
  display: flex;
  width: 100%;
  padding: 0;
  margin-left: 141px;
  margin-top: 65px;
  outline: 2px solid blue;
  box-sizing: border-box;
}

.inputs-wrapper {
  width: 320px;
  outline: 2px solid green;
  box-sizing: border-box;

  &--smaller {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 42px;
  }
}

@import "../../blocks/input/input.scss";

.input__item {
  margin-bottom: 20px;
  outline: 2px solid green;
  box-sizing: border-box;

  &--middle {
    width: 266px / 320px * 100%;
    margin-top: 21px;
    margin-bottom: 43px;
    outline: 2px solid red;
    box-sizing: border-box;
  }

  &--small {
    width: 150px / 320px * 100%;
    outline: 2px solid red;
    box-sizing: border-box;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

  .toggles-wrapper {
    /*width: 265px;*/
    margin-left: 126px;
    /*outline: 2px solid green;
    box-sizing: border-box;*/
  }

  .checkbox-buttons__title,
  .radio-buttons__title,
  .toggles__title,
  .like-buttons__title,
  .rate-buttons__title,
  .buttons__title,
  .pagination__title {
    margin-bottom: 16px;
  }

  .checkbox-buttons {
    max-width: 225px;
    margin-bottom: 41px;
    /*outline: 2px solid red;
    box-sizing: border-box;*/
  }

  .checkbox-buttons__item {
    margin-top: 14px;
    /*outline: 2px solid blueviolet;
    box-sizing: border-box;*/
  }

  @import "../../blocks/checkbox/checkbox.scss";

  .radio-buttons {
    /*max-width: 100%;*/
    margin-bottom: 40px;
    /*outline: 2px solid red;
    box-sizing: border-box;*/
  }

  @import "../../blocks/radiobuttons/radiobuttons.scss";

  .toggles {
    /*max-width: 100%;*/
    margin-bottom: 40px;
    /*outline: 2px solid red;
    box-sizing: border-box;*/
  }

  @import "../../blocks/toggles/toggles.scss";

  .toggle__item {
    margin-bottom: 10px;
    /*outline: 2px solid rosybrown;
    box-sizing: border-box;*/
  }

  .like-buttons {
    margin-bottom: 40px;
    /*outline: 2px solid red;
    box-sizing: border-box;*/
  }

  @import "../../blocks/likes/likes.scss";

  .like-buttons__item {
    display: inline-block;
    margin-right: 10px;
    /*outline: 2px dashed yellow;
    box-sizing: border-box;*/
  }

  .rate-buttons {
    margin-bottom: 41px;
    /*outline: 2px solid red;
    box-sizing: border-box;*/

    .rate-buttons__item {
      display: inline-block;
      margin-right: 20px;
      max-width: 120px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @import "../../blocks/ratebuttons/ratebuttons.scss";

  .buttons-wrapper {
    margin-left: 128px;
    box-sizing: border-box;
  }

  @import "../../blocks/range-slider/range-slider.scss";

  .range-slider {
    width: 266px;
    margin-bottom: 43px;
  }

  .buttons {
    width: 218px;

    .buttons__positioner {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      .button__item {
        width: 99px;
        /*height: 44px;*/
      }
    }

      @import "../../blocks/buttons/button.scss";

    .button__icon {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      /* identical to box height */
      text-transform: uppercase;

      &--primary {
        margin-right: 20px;
        color: $primary-theme-color;
      }

      &--secondary {
        color: $middle-color;
      }
    }

    .button__item--wide {
      margin-top: 23px;
      margin-bottom: 40px;
      width: 320px;
    }
  }

  @import "../../blocks/pagination/pagination.scss";



  section.dropdowns {
    /*display: flex;*/
    width: 100%;
    padding: 0;
    margin-left: 140px;
    margin-top: 100px;
    /*outline: 2px solid blue;
    box-sizing: border-box;*/

    .dropdown-room-wrapper {
      width: 266px;
      /*outline: 2px solid green;
      box-sizing: border-box;*/
    }

  @import "../../blocks/dropdowns/dropdown.scss";

  @import "../../blocks/dropdowns/expand.scss";

    .dropdown__item {
      margin-bottom: 20px;
      box-sizing: border-box;
    }

  }