//script(src='../../blocks/dropdown/dropdown.js')

+textField({
          title: "Dropdown",
          style: "dropdown",
          expanded: true,
          description: "Expanded",
          type: "text",
          name: "rooms",
          placeholder: "2 спальни, 2 кровати...",
          ariaLabel: "room convenience"
})

include expand.pug
.expand
  +selection("Спальни", "bedrooms", 2)
  +selection("Кровати", "beds", 2)
  +selection("Ванные комнаты", "bathrooms", 0)

  script(src='../../blocks/dropdown/dropdown.js')
