include ../../blocks/input/input.pug
include ../../blocks/button/button.pug

mixin counter(title, name, valueDefault="0")
  - let disabled = true
  .counter__item
    .counter__name= title
    .counter__buttons
      if (valueDefault != "0")
        - disabled = false
      button(class = "counter__btn counter__btn--minus" disabled = disabled) -
      input(class="counter__value" name= name value= valueDefault type="text" readonly)
      button(class = "counter__btn counter__btn--plus") +

mixin dropdown(options = {}, counters = [], buttons = true)
  - const {title= "", style= "dropdown", expanded= false, description= "", type= "text", name= "", value= "", ariaLabel= ""} = options
  .dropdown__item
    +textField({title, style, expanded, description, type, name, value, ariaLabel,}, [])

    - let sumValue = 0
    - let hidden = "visually-hidden"
    if(expanded)
      - hidden = ""
    div(class= `dropdown__expand ${hidden}`)
      each item in counters
        - const {title, name, valueDefault} = item
        +counter(title, name, valueDefault)

      if(buttons)
        .dropdown__buttons
          .dropdown__buttons__item
            +button({
                title: "Очистить",
                color: "complementary",
                style: "default",
                name: "default",
                value: "value",
                type: "reset",
                isVisible: false,
                ariaLabel: "reset",
                })

          .dropdown__buttons__item
            +button({
                title: "Применить",
                color: "complementary",
                style: "default",
                name: "default",
                value: "value",
                type: "submit",
                ariaLabel: "submit",
                })
