.expand {
  display: block;
  border: 1px solid $middle-color;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px $lightest-color;
  /*outline: 20px solid yellow;
  background-color: rgb(230, 32, 32);*/

  .select__item {
    display: flex;
    margin: 5px 7px 7px 0;
    justify-content: space-between;
    align-items: center;
    /*outline: 2px solid yellow;*/
  }

  .select__name {
    width: 133px;
    margin-left: 15px;
    font-family: $primary-type;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    color: $dark-color;
  }

  .selection__buttons {
    display: flex;
    width: 90px;
    justify-content: space-between;
    align-items: center;
    /*outline: 2px solid red;*/
  }

  .select__btn {
    width: 30px;
    height: 30px;
    border: 1px solid $secondary-color;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 30px;
    color: $middle-color;
    align-items: center;
    text-align: center;
  }

  .select__value {
    width: 32px;
    font-family: $primary-type;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: $dark-color;
    border: none;
  }
}
.visually-hidden {
    display: none;
    /*position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
}