.toggles-block {
  max-width: 260px;
  margin: 0px;

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] ~ label {
    display: inline-block;
    position: relative;
    white-space: pre-wrap;
    margin-left: 50px;
  }

  input[type=checkbox] ~ label::before,
  input[type=checkbox]:checked ~ label::before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: -50px;
    width: 40px;
    height: 20px;
    box-sizing: border-box;
    border-radius: 10px;
  }

  input[type=checkbox] ~ label::before {
    border: 1px solid $secondary-color;
  }

  input[type=checkbox]:checked ~ label::before {
    border: 1px solid $primary-theme-color;
  }

  input[type=checkbox] ~ label::after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -46px;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: $secondary-color;
    transition-timing-function: ease-in;
    transition-duration: 200ms;
  }

  input[type=checkbox]:checked ~ label::after {    
    background-image: $primary-gradient;
    transform: translateX(20px);
    transition-timing-function: ease-in;
    transition-duration: 200ms;
  }

  
}