extends ../base/template.pug

include ../../blocks/logo/logo.pug

include ../../blocks/card/card.pug
include ../../blocks/cardRoomCosts/cardRoomCosts.pug
include ../../blocks/cardRoomSearch/cardRoomSearch.pug

block title
  title TOXIN Cards

block scripts

block main
  .logo-block
    +logo("gray")

  section.cards
    .cards-container
      +card('search')
      +card('registration')

    .cards-container
      +cardRoomCosts({
          roomNumber: 888,
          roomType: 'Люкс',
          costPerDay: 9990,
          currency: '₽',
          amountOfdays: 4,
          servCost: 2179,
          discount: 2179,
          additionalServCost: 300,
        })
      +card('entry')

    .cards-container
      div(class= "datepicker-here start")
      +cardRoomSearch([
        {
          roomNumber: 888,
          roomPhoto: ["room01.png", "room02.png"],
          roomType: 'Люкс',
          costPerDay: 9990,
          currency: '₽',
          vote: 5,
          votesNumber: 145,
        },
        {
          roomNumber: 840,
          roomPhoto: ["room02.png","room01.png"],
          roomType: '',
          costPerDay: 9900,
          currency: '₽',
          vote: 4,
          votesNumber: 65,
        },
      ])