extends ../base/template.pug
include ../../blocks/calendar/calendar.pug

include ../../blocks/logo/logo.pug

block title
  title TOXIN Cards

block scripts

block main
  .logo-block
    +logo("gray")

  section.cards
    .cards-wrapper
      .datapicker.datepicker-here(data-range="true",)
      +calendar("arrivalDeparture")
      +calendar("arrivalDeparture")