@import '../../theme/global.scss';

@import '../../blocks/logo/logo.scss';
@import '../../blocks/card/card.scss';
@import '../../blocks/cardRoomCosts/cardRoomCosts.scss';
@import '../../blocks/cardRoomSearch/cardRoomSearch.scss';

html {
  background: #f4f4f6;
}

.logo-block {
  margin: 30px 0 0 30px;
}

section.cards {
  display: grid;
  grid-template-columns: 380px 380px 320px;
  grid-gap: 40px;
  max-height: 1100px;
  margin: 72px 0 100px 140px;
  //outline: 2px solid rgb(0, 255, 115);
}


