extends ../base/template.pug

include ../../blocks/card/card.pug
include ../../blocks/button/button.pug
include ../../blocks/input/input.pug
include ../../blocks/calendar/calendar.pug
include ../../blocks/radiobutton/radiobutton.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/cardRoomCosts/cardRoomCosts.pug


include ../../blocks/logo/logo.pug

block title
  title TOXIN Cards

block scripts

block main
  .logo-block
    +logo("gray")

  section.cards
    .cards-container
      +card('search')
      +card('registration')

    .cards-container
      +cardRoomCosts({
          roomNumber: 888,
          roomType: 'Люкс',
          costPerDay: 9990,
          currency: '₽',
          amountOfdays: 4,
          servCost: 2179,
          discount: 2179,
          additionalServCost: 300,
        })
      +card('entry')

    .cards-container
      div(class= "datepicker-here" id= "#start")

      //+card({title: , content: contentSearch, buttonContent: 'Подобрать номер'})
      //.datapicker.datepicker-here(data-range="true",)
      //+calendar("arrivalDeparture")
      //+calendar("arrivalDeparture")