ul.checkbox-list {
  margin-top: 19px;
}

h3.checkbox-list__title {
  margin-bottom: 16px;

  &--expandable {
    position: relative;
    width: 257px;
    cursor: pointer;
    /*outline: 2px solid red;*/

    &::after {
      content: "\e5cf";
      display: inline-block;
      position: absolute;
      top: 0px;
      right: 0px;
      height: 15px;
      text-align: center;
      font-family: "Material Icons";
      font-size: 24px;
      font-weight: normal;
      color: $middle-color;
      /*outline: 2px dashed rosybrown;*/
    }

    &--expanded::after {
      transform: rotate(180deg);
    }
  }
}