@import '../../blocks/checkbox/checkbox.scss';

.checkbox-list {
  position: relative;
  width: 257px;

  &__title {
    margin-bottom: 16px;

    &--expandable {
      cursor: pointer;

      &::after {
        @include materialIcons;
        content: '\e5cf';
        display: inline-block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 15px;
        color: $middle-color;
      }

      &--open::after {
        transform: rotate(180deg);
      }
    }
  }

  &__content--expandable {
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    padding-top: 19px;
    background-color: #ffffff;
  }

  &--open {
    display: block;
  }
}