//- ------массив параметров для списка чекбоксов checkbox-list__comfort

-
  const checkboxListComfort= [
    {
      title: "Завтрак",
      name: "breakfast",
    },
    {
      title: "Письменный стол",
      name: "desk",
      checked: true,
    },
    {
      title: "Стул для кормления",
      name: "baby-feeding-chair",
      checked: true,
    },
    {
      title: "Кроватка",
      name: "cot",
      checked: true,
    },
    {
      title: "Телевизор",
      name: "tv",
    },
    {
      title: "Шампунь",
      name: "shampoo",
    },
    {
      title: "Телевизор",
      name: "tv2",
    },
    {
      title: "Шампунь",
      name: "shampoo2",
    },
  ]

//- ------массив параметров для списка чекбоксов checkbox-list__permission
-
  const checkboxListPermission= [
    {
      title: "Можно курить",
      name: "isSmoking",
    },
    {
      title: "Можно с питомцами",
      name: "isPets",
      checked: true,
    },
    {
      title: "Можно пригласить гостей (до 10 человек)",
      name: "isGuests",
      checked: true,
    },
  ]
