//-
  options.title: подпись чекбокса;
  options.description: описание преимуществ для rich checkbox (по умолчанию отсутствует);
  options.name: значение обязательного поля name для инпута (разные имена для каждого чекбокса);
  option.checked: для отмеченных чекбоксов (true), или отсутствует

  //options.ariaLabel: содержание атрибута aria-label для скринридеров;
  //options.action: обязательное поле action формы "/some-address/change-me",
  //options.method: обязательное поле method формы "post"

//- массив параметров для списка чекбоксов checkbox-list__comfort

block variables
  -
    checkboxListComfort= [
      {
        title: "Завтрак",
        name: "breakfast",
      },
      {
        title: "Письменный стол",
        name: "desk",
        checked: true,
      },
      {
        title: "Стул для кормления",
        name: "baby-feeding-chair",
        checked: true,
      },
      {
        title: "Кроватка",
        name: "cot",
        checked: true,
      },
      {
        title: "Телевизор",
        name: "tv",
      },
      {
        title: "Шампунь",
        name: "shampoo",
      },
      {
        title: "Телевизор",
        name: "tv2",
      },
      {
        title: "Шампунь",
        name: "shampoo2",
      },
    ]

  //- массив параметров для списка чекбоксов checkbox-list__permission
  -
    checkboxListPermission= [
      {
        title: "Можно курить",
        name: "isSmoking",
      },
      {
        title: "Можно с питомцами",
        name: "isPets",
        checked: true,
      },
      {
        title: "Можно пригласить гостей (до\u00A010 человек)",
        name: "isGuests",
        checked: true,
      },
    ]

  //- массив параметров для списка расширенных чекбоксов сheckboxList__rich
  -
    const checkboxListRich= [
      {
        title: "Широкий коридор",
        description: "Ширина коридоров в номере не\u00A0менее 91 см.",
        name: "wideCorridor",
      },
      {
        title: "Помощник для инвалидов",
        description: "На 1 этаже вас встретит специалист и\u00A0проводит до номера.",
        name: "forDisabled",
      },
    ]
