doctype html
html(lang="ru")
  include ../blocks/common/head.pug
  
  body
    header Очень здорово! DOOOOOO
    
    main            
      div.content Очень здорово! GREAAAT
    
    footer GREAAAT Без кирилицы