.input-block {
  width: 100%;
  margin: 0px;

/*сброс стилей для автозаполнения инпутов*/
  @-webkit-keyframes autofill {
    to {
        color: $primary-color;
        background: transparent;
    }
  }
  @keyframes autofill {
    to {
      color: $primary-color;
      background: transparent;
  }
  }
  input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    animation-name: autofill;
    animation-fill-mode: both;
  }

  .input__title {
    float: left;
    margin-top: 0px;
    margin-bottom: 5px;
    max-width: 310px;
    /*outline: 2px solid red;*/
  }

  .input__description {
    float: right;
    margin-top: 0px;
    margin-bottom: 5px;
    max-width: 120px;
    font-family: $primary-type;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: $middle-color;
    /*outline: 2px solid green;*/
  }

  .input__field {
    width: 100%;
    height: 44px;
    border: 1px solid $secondary-color;
    padding: 13px 0 13px 15px;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: $primary-type;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $primary-color;
    /*outline: 2px solid yellow;*/

    &:hover,
    &:focus {
      border: 1px solid $middle-color;
      cursor: pointer;
      outline: none;
    }

    &--expanded {
      border-top: 1px solid $middle-color;
      border-right: 1px solid $middle-color;
      border-bottom: 0;
      border-left: 1px solid $middle-color;
      box-sizing: border-box;
      border-radius: 4px 4px 0 0;
      font-family: $primary-type;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      /*outline: 2px solid yellow;*/

      &:hover,
      &:focus {
        outline: none;
      }
    }
  }

  label {
    position: relative;
  }

  label.dropdown::after,
  label.subscribe::after {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 0px;
    width: 42px;
    height: 42px;
    padding: auto 0 auto 0;
    text-align: center;
    font-family: "Material Icons";
    font-size: 24px;
    line-height: 42px;
    cursor: pointer;
    /*outline: 2px dashed rosybrown;*/
  }

  label.dropdown::after {
    content: "\e5cf";
  }

  label.subscribe::after {
    content: "\e5c8";
    color: $primary-theme-color;
    background: $primary-gradient;
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  input.input__field {
    &::-moz-placeholder {
      color: $primary-color;
    }
    &::-webkit-input-placeholder {
      color: $primary-color;
    }
    &::-ms-input-placeholder {
      color: $primary-color;
    }
    &::placeholder {
      color: $primary-color;
    }

    &--light::-moz-placeholder {
      color: $secondary-color;
    }
    &--light::-webkit-input-placeholder {
      color: $secondary-color;
    }
    &--light::-ms-input-placeholder {
      color: $secondary-color;
    }
    &--light::placeholder {
      color: $secondary-color;
    }
  }
}