.input-block {
  width: 100%;
  margin: 0px;

  .input__field--expanded {
    border-top: 1px solid $middle-color;
    border-right: 1px solid $middle-color;
    border-bottom: 0;
    border-left: 1px solid $middle-color;
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
    font-family: $primary-type;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /*outline: 2px solid yellow;*/

    &:hover,
    &:focus {
      outline: none;
    }
  }
}