//- comments

  avatar: адрес аватарки;
  name: имя комментатора;
  date: сколько дней назад был оставлен комментарий(???);
  likeValue: текущее количество лайков;
  text: текст отзыва

mixin commentList(optionsList = [])
  ul.comment-list

    each item in optionsList
      li.comment-item
        .comment-item__userPic
        .comment-item__name= item.name
        .comment-item__date= item.date
        .comment-item__likes
          +likeButton("more-likes", likeValue)(checked)
        .comment-item__text= item.text