@import '../../theme/global.scss';

@import '../../blocks/logo/logo.scss';
@import '../../blocks/navigation/navigation.scss';
@import '../../blocks/header/header-standard.scss';

html {
  background-color: #f4f4f6;
}

.logo-block {
  margin: 30px 0 62px 30px;
}

.headers__item {
  margin-bottom: 40px;
}

/*section.standard-nav-bar {
  display: flex;
  background-color: #ffffff;
}*/