@import "../../theme/global.scss";

@import "../../blocks/logo-uiKit/logo-uiKit.scss";
@import "../../blocks/navigation/navigation.scss";
@import "../../blocks/headers/header-standard.scss";

html {
  background-color: #e5e5e5;
}

/*section.standard-nav-bar {
  display: flex;
  background-color: #ffffff;
}*/