extends ../base/template.pug

include ../../blocks/logo/logo.pug

include ../../blocks/header/header.pug
include ../../blocks/footer/footer.pug

block title
  title TOXIN Headers-Footers

block scripts

block main
  .logo-block
    +logo("gray")

  section.headers
    .headers__item
      +header()
    .headers__item
      +header("registered")

  section.footers
    .footer__item
      +footer()
    .footer__item--mobile
      +footer('mobile')
