@import '../../theme/global.scss';

@import '../../blocks/header/header.scss';
@import '../../blocks/footer/footer.scss';

html {
  width: 1440px;
  background-color: #f4f4f6;
}

section.headers {
  margin-top: 72px;
}

.headers__item, .footer__item, .footer__item--mobile {
  margin-bottom: 40px;
}