//- checkboxes list expandable

include ../checkbox/checkbox.pug

mixin checkboxList(listName, isExpanded = true, options)

  .checkbox-list
    - var listStyle= "checkbox-list__title";

    if(isExpanded)
      - listStyle= `${listStyle} ${listStyle}--expanded`

    h3(class= listStyle)= listName

    - var i = 0;

    while i < options.length

      .checkbox-buttons__item
        - var parameters= options[i];
        - i++;

        +checkbox(parameters)

