@font-face {
  font-family: "Montserrat";
  src: url("../../../fonts/Montserrat/montserrat-regular-webfont.eot?") format("eot"),
       url("../../../fonts/Montserrat/montserrat-regular-webfont.woff2") format("woff2"),
       url("../../../fonts/Montserrat/montserrat-regular-webfont.woff") format("woff"),
       url("../../../fonts/Montserrat/montserrat-regular-webfont.ttf") format("truetype"),
       url("../../../fonts/Montserrat/montserrat-regular-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../fonts/Montserrat/montserrat-italic-webfont.eot?") format("eot"),
       url("../../../fonts/Montserrat/montserrat-italic-webfont.woff2") format("woff2"),
       url("../../../fonts/Montserrat/montserrat-italic-webfont.woff") format("woff"),
       url("../../../fonts/Montserrat/montserrat-italic-webfont.ttf") format("truetype"),
       url("../../../fonts/Montserrat/montserrat-italic-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../fonts/Montserrat/montserrat-bold-webfont.eot?") format("eot"),
       url("../../../fonts/Montserrat/montserrat-bold-webfont.woff2") format("woff2"),
       url("../../../fonts/Montserrat/montserrat-bold-webfont.woff") format("woff"),
       url("../../../fonts/Montserrat/montserrat-bold-webfont.ttf") format("truetype"),
       url("../../../fonts/Montserrat/montserrat-bold-webfont.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../fonts/Montserrat/montserrat-bolditalic-webfont.eot?") format("eot"),
       url("../../../fonts/Montserrat/montserrat-bolditalic-webfont.woff2") format("woff2"),
       url("../../../fonts/Montserrat/montserrat-bolditalic-webfont.woff") format("woff"),
       url("../../../fonts/Montserrat/montserrat-bolditalic-webfont.ttf") format("truetype"),
       url("../../../fonts/Montserrat/montserrat-bolditalic-webfont.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Opensans";
  src: url("../../../fonts/Opensans/opensans-regular-webfont.eot?") format("eot"),
       url("../../../fonts/Opensans/opensans-regular-webfont.woff2") format("woff2"),
       url("../../../fonts/Opensans/opensans-regular-webfont.woff") format("woff"),
       url("../../../fonts/Opensans/opensans-regular-webfont.ttf") format("truetype"),
       url("../../../fonts/Opensans/opensans-regular-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Opensans";
  src: url("../../../fonts/Opensans/opensans-italic-webfont.eot?") format("eot"),
       url("../../../fonts/Opensans/opensans-italic-webfont.woff2") format("woff2"),
       url("../../../fonts/Opensans/opensans-italic-webfont.woff") format("woff"),
       url("../../../fonts/Opensans/opensans-italic-webfont.ttf") format("truetype"),
       url("../../../fonts/Opensans/opensans-italic-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Opensans";
  src: url("../../../fonts/Opensans/opensans-bold-webfont.eot?") format("eot"),
      url("../../../fonts/Opensans/opensans-bold-webfont.woff2") format("woff2"),
      url("../../../fonts/Opensans/opensans-bold-webfont.woff") format("woff"),
      url("../../../fonts/Opensans/opensans-bold-webfont.ttf") format("truetype"),
      url("../../../fonts/Opensans/opensans-bold-webfont.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Opensans";
  src: url("../../../fonts/Opensans/opensans-bolditalic-webfont.eot?") format("eot"),
       url("../../../fonts/Opensans/opensans-bolditalic-webfont.woff2") format("woff2"),
       url("../../../fonts/Opensans/opensans-bolditalic-webfont.woff") format("woff"),
       url("../../../fonts/Opensans/opensans-bolditalic-webfont.ttf") format("truetype"),
       url("../../../fonts/Opensans/opensans-bolditalic-webfont.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Quicksand";
  src: url("../../../fonts/Quicksand/quicksand-400-normal-webfont.eot?") format("eot"),
       url("../../../fonts/Quicksand/quicksand-400-normal-webfont.woff2") format("woff2"),
       url("../../../fonts/Quicksand/quicksand-400-normal-webfont.woff") format("woff"),
       url("../../../fonts/Quicksand/quicksand-400-normal-webfont.ttf") format("truetype"),
       url("../../../fonts/Quicksand/quicksand-400-normal-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../../fonts/Quicksand/quicksand-400-normal-webfont.eot?") format("eot"),
       url("../../../fonts/Quicksand/quicksand-400-normal-webfont.woff2") format("woff2"),
       url("../../../fonts/Quicksand/quicksand-400-normal-webfont.woff") format("woff"),
       url("../../../fonts/Quicksand/quicksand-400-normal-webfont.ttf") format("truetype"),
       url("../../../fonts/Quicksand/quicksand-400-normal-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../../fonts/Quicksand/quicksand-400-italic-webfont.eot?") format("eot"),
       url("../../../fonts/Quicksand/quicksand-400-italic-webfont.woff2") format("woff2"),
       url("../../../fonts/Quicksand/quicksand-400-italic-webfont.woff") format("woff"),
       url("../../../fonts/Quicksand/quicksand-400-italic-webfont.ttf") format("truetype"),
       url("../../../fonts/Quicksand/quicksand-400-italic-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../../fonts/Quicksand/quicksand-700-normal-webfont.eot?") format("eot"),
       url("../../../fonts/Quicksand/quicksand-700-normal-webfont.woff2") format("woff2"),
       url("../../../fonts/Quicksand/quicksand-700-normal-webfont.woff") format("woff"),
       url("../../../fonts/Quicksand/quicksand-700-normal-webfont.ttf") format("truetype"),
       url("../../../fonts/Quicksand/quicksand-700-normal-webfont.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../../fonts/Quicksand/quicksand-700-italic-webfont.eot?") format("eot"),
       url("../../../fonts/Quicksand/quicksand-700-italic-webfont.woff2") format("woff2"),
       url("../../../fonts/Quicksand/quicksand-700-italic-webfont.woff") format("woff"),
       url("../../../fonts/Quicksand/quicksand-700-italic-webfont.ttf") format("truetype"),
       url("../../../fonts/Quicksand/quicksand-700-italic-webfont.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../../fonts/MaterialIcons-Regular/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../../fonts/MaterialIcons-Regular/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../../fonts/MaterialIcons-Regular/MaterialIcons-Regular.woff) format('woff'),
       url(../../../fonts/MaterialIcons-Regular/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}