@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/montserrat-400-normal.eot") format("eot"),
       url("../../fonts/Montserrat/montserrat-400-normal.woff2") format("woff2"),
       url("../../fonts/Montserrat/montserrat-400-normal.woff") format("woff"),
       url("../../fonts/Montserrat/montserrat-400-normal.ttf") format("truetype"),
       url("../../fonts/Montserrat/montserrat-400-normal.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/montserrat-400-italic.eot") format("eot"),
       url("../../fonts/Montserrat/montserrat-400-italic.woff2") format("woff2"),
       url("../../fonts/Montserrat/montserrat-400-italic.woff") format("woff"),
       url("../../fonts/Montserrat/montserrat-400-italic.ttf") format("truetype"),
       url("../../fonts/Montserrat/montserrat-400-italic.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/montserrat-700-normal.eot") format("eot"),
       url("../../fonts/Montserrat/montserrat-700-normal.woff2") format("woff2"),
       url("../../fonts/Montserrat/montserrat-700-normal.woff") format("woff"),
       url("../../fonts/Montserrat/montserrat-700-normal.ttf") format("truetype"),
       url("../../fonts/Montserrat/montserrat-700-normal.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/montserrat-700-italic.eot") format("eot"),
       url("../../fonts/Montserrat/montserrat-700-italic.woff2") format("woff2"),
       url("../../fonts/Montserrat/montserrat-700-italic.woff") format("woff"),
       url("../../fonts/Montserrat/montserrat-700-italic.ttf") format("truetype"),
       url("../../fonts/Montserrat/montserrat-700-italic.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Opensans";
  src: url("../../fonts/Opensans/opensans-400-normal.eot") format("eot"),
       url("../../fonts/Opensans/opensans-400-normal.woff2") format("woff2"),
       url("../../fonts/Opensans/opensans-400-normal.woff") format("woff"),
       url("../../fonts/Opensans/opensans-400-normal.ttf") format("truetype"),
       url("../../fonts/Opensans/opensans-400-normal.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Opensans";
  src: url("../../fonts/Opensans/opensans-400-italic.eot") format("eot"),
       url("../../fonts/Opensans/opensans-400-italic.woff2") format("woff2"),
       url("../../fonts/Opensans/opensans-400-italic.woff") format("woff"),
       url("../../fonts/Opensans/opensans-400-italic.ttf") format("truetype"),
       url("../../fonts/Opensans/opensans-400-italic.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Opensans";
  src: url("../../fonts/Opensans/opensans-700-normal.eot") format("eot"),
      url("../../fonts/Opensans/opensans-700-normal.woff2") format("woff2"),
      url("../../fonts/Opensans/opensans-700-normal.woff") format("woff"),
      url("../../fonts/Opensans/opensans-700-normal.ttf") format("truetype"),
      url("../../fonts/Opensans/opensans-700-normal.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Opensans";
  src: url("../../fonts/Opensans/opensans-700-italic.eot") format("eot"),
       url("../../fonts/Opensans/opensans-700-italic.woff2") format("woff2"),
       url("../../fonts/Opensans/opensans-700-italic.woff") format("woff"),
       url("../../fonts/Opensans/opensans-700-italic.ttf") format("truetype"),
       url("../../fonts/Opensans/opensans-700-italic.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand/quicksand-400-normal-webfont.eot") format("eot"),
       url("../../fonts/Quicksand/quicksand-400-normal-webfont.woff2") format("woff2"),
       url("../../fonts/Quicksand/quicksand-400-normal-webfont.woff") format("woff"),
       url("../../fonts/Quicksand/quicksand-400-normal-webfont.ttf") format("truetype"),
       url("../../fonts/Quicksand/quicksand-400-normal-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand/quicksand-400-italic-webfont.eot") format("eot"),
       url("../../fonts/Quicksand/quicksand-400-italic-webfont.woff2") format("woff2"),
       url("../../fonts/Quicksand/quicksand-400-italic-webfont.woff") format("woff"),
       url("../../fonts/Quicksand/quicksand-400-italic-webfont.ttf") format("truetype"),
       url("../../fonts/Quicksand/quicksand-400-italic-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand/quicksand-700-normal-webfont.eot") format("eot"),
       url("../../fonts/Quicksand/quicksand-700-normal-webfont.woff2") format("woff2"),
       url("../../fonts/Quicksand/quicksand-700-normal-webfont.woff") format("woff"),
       url("../../fonts/Quicksand/quicksand-700-normal-webfont.ttf") format("truetype"),
       url("../../fonts/Quicksand/quicksand-700-normal-webfont.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand/quicksand-700-italic-webfont.eot") format("eot"),
       url("../../fonts/Quicksand/quicksand-700-italic-webfont.woff2") format("woff2"),
       url("../../fonts/Quicksand/quicksand-700-italic-webfont.woff") format("woff"),
       url("../../fonts/Quicksand/quicksand-700-italic-webfont.ttf") format("truetype"),
       url("../../fonts/Quicksand/quicksand-700-italic-webfont.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "QuicksandPro";
  src: url("../../fonts/QuicksandPro/quicksandpro-regular-webfont.eot") format("eot"),
       url("../../fonts/QuicksandPro/quicksandpro-regular-webfont.woff2") format("woff2"),
       url("../../fonts/QuicksandPro/quicksandpro-regular-webfont.woff") format("woff"),
       url("../../fonts/QuicksandPro/quicksandpro-regular-webfont.ttf") format("truetype"),
       url("../../fonts/QuicksandPro/quicksandpro-regular-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "QuicksandPro";
  src: url("../../fonts/QuicksandPro/quicksandpro-regularitalic-webfont.eot") format("eot"),
       url("../../fonts/QuicksandPro/quicksandpro-regularitalic-webfont.woff2") format("woff2"),
       url("../../fonts/QuicksandPro/quicksandpro-regularitalic-webfont.woff") format("woff"),
       url("../../fonts/QuicksandPro/quicksandpro-regularitalic-webfont.ttf") format("truetype"),
       url("../../fonts/QuicksandPro/quicksandpro-regularitalic-webfont.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "QuicksandPro";
  src: url("../../fonts/QuicksandPro/quicksandpro-bold-webfont.eot") format("eot"),
       url("../../fonts/QuicksandPro/quicksandpro-bold-webfont.woff2") format("woff2"),
       url("../../fonts/QuicksandPro/quicksandpro-bold-webfont.woff") format("woff"),
       url("../../fonts/QuicksandPro/quicksandpro-bold-webfont.ttf") format("truetype"),
       url("../../fonts/QuicksandPro/quicksandpro-bold-webfont.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "QuicksandPro";
  src: url("../../fonts/QuicksandPro/quicksandpro-bolditalic-webfont.eot") format("eot"),
       url("../../fonts/QuicksandPro/quicksandpro-bolditalic-webfont.woff2") format("woff2"),
       url("../../fonts/QuicksandPro/quicksandpro-bolditalic-webfont.woff") format("woff"),
       url("../../fonts/QuicksandPro/quicksandpro-bolditalic-webfont.ttf") format("truetype"),
       url("../../fonts/QuicksandPro/quicksandpro-bolditalic-webfont.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/MaterialIcons-Regular/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../fonts/MaterialIcons-Regular/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../fonts/MaterialIcons-Regular/MaterialIcons-Regular.woff) format('woff'),
       url(../../fonts/MaterialIcons-Regular/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'fontello';
  src: url('../../fonts/FontAwesome-Icons/fontello.eot');
  src: url('../../fonts/FontAwesome-Icons/fontello.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/FontAwesome-Icons/fontello.woff2') format('woff2'),
       url('../../fonts/FontAwesome-Icons/fontello.woff') format('woff'),
       url('../../fonts/FontAwesome-Icons/fontello.ttf') format('truetype'),
       url('../../fonts/FontAwesome-Icons/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}