//- colors

//- text, borders, etc
$primary-color: rgba(31, 32, 65, 0.75);
$secondary-color: rgba(31, 32, 65, 0.25);
$middle-color: rgba(31, 32, 65, 0.5);
$lightest-color: rgba(31, 32, 65, 0.05);
$dark-color: #1F2041;

//- theme colors
$primary-theme-color: #BC9CFF;
$secondary-theme-color: #6FCF97;

$primary-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$secondary-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

$primary-gradient-half-opacity: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
$secondary-gradient__half-opacity: linear-gradient(180deg, rgba(111, 207, 151, 0.5) 0%, rgba(102, 210, 234, 0.5) 100%);

//- types

$primary-type: Montserrat, Arial, sans-serif;

h1 {
  font-family: Quicksand, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $dark-color;
  letter-spacing: -0.015em;
}

h2 {
  font-family: Quicksand, Arial, sans-serif;;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $dark-color;
  letter-spacing: -0.015em;
}

h3 {
  font-family: $primary-type;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
  color: $dark-color;
}

body {
  font-family: $primary-type;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: $primary-color;
}