//- colors

//* text, borders, etc
$primary-color: rgba(31, 32, 65, 0.75);
$secondary-color: rgba(31, 32, 65, 0.25);
$middle-color: rgba(31, 32, 65, 0.5);
$lightest-color: rgba(31, 32, 65, 0.05);
$dark-color: #1F2041;

//* theme colors
$primary-theme-color: rgb(188, 156, 255);
$secondary-theme-color: rgb(111, 207, 151);

$primary-gradient: linear-gradient(180deg, rgb(188, 156, 255) 0%, rgb(139, 164, 249) 100%);
$secondary-gradient: linear-gradient(180deg, rgb(111, 207, 151) 0%, rgb(102, 210, 234) 100%);

$primary-gradient-half-opacity: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
$secondary-gradient__half-opacity: linear-gradient(180deg, rgba(111, 207, 151, 0.5) 0%, rgba(102, 210, 234, 0.5) 100%);

//* types
$primary-type: Montserrat, Arial, sans-serif;
$secondary-type: QuicksandPro, Quicksand, Opensans, Arial, sans-serif;

//* borders
$border-depth: 1px;
$border-style: solid;
$border-radius: 4px;

$border-base: $border-depth $border-style $secondary-color;
$border-accent: $border-depth $border-style $middle-color;
$border-light: $border-depth $border-style rgba(31, 32, 65, 0.1);


//* базовые размеры шрифтов
$font-body: 14rem;
$font-h1: 24rem;
$font-h2: 19rem;
$font-h3: 12rem;


//* брейкпоинты
$media-maxW: 1223px; // уменьшается только второстепенный шрифт и высота строки в футере
$media-midW: 1023px; // уменьшается весь шрифт, мобильное меню и футер
$media-minW: 760px; // убираем бриф справа, центрируем карточку
$media-sMinW: 560px; // убираем логотип
$media-uMinW: 410px; // под узкие мобильные экраны - сужаем карточку



@mixin head1 {
  font-family: $secondary-type;
  font-style: normal;
  font-weight: bold;
  font-size: #{$font-h1/$font-body}rem;
  line-height: 1.26em;
  color: $dark-color;
  //letter-spacing: -0.01em;
}

h1, .head1 {
  @include head1;
}

@mixin head2 {
  font-family: $secondary-type;
  font-style: normal;
  font-weight: bold;
  font-size: #{$font-h2/$font-body}rem;
  //line-height: 24px;
  color: $dark-color;
  letter-spacing: -0.01em;
}

h2, .head2 {
  @include head2;
}

@mixin head3 {
  font-family: $primary-type;
  font-style: normal;
  font-weight: bold;
  font-size: #{$font-h3/$font-body}rem;
  line-height: 1.25em;
  /* identical to box height */
  text-transform: uppercase;
  color: $dark-color;
}

h3, .head3 {
  @include head3;
}

@mixin regular {
  font-family: $primary-type;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.71em; // 24px;
  color: $primary-color;
  letter-spacing: -0.001em;
}

body {
  @include regular;
}

@mixin materialIcons {
  font-family: "Material Icons";
  font-size: #{$font-h1/$font-body}rem;
  font-weight: normal;
  text-align: center;
}

//* миксин для трех иконок соцсетей в футере
@mixin fontAwesomeIcons {
  font-family: "fontello";
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  background: $primary-gradient;
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//* рамка для карточек (обертка карточек)
@mixin cardWrapper {
  width: 380px;
  padding: 41px 29px 29px 29px;
  border: $border-light;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: $border-radius;
  background: #ffffff;

  &:not(:only-child) {
    margin-bottom: 40px;
  }

  @media (max-width: $media-uMinW) {
    width: 100%;
    padding: 20px 5vw 10px 5vw;
    border: $border-light;
    box-shadow: 0px 0px 5vw rgba(0, 0, 0, 0.2);
  }
}

//* миксины для медиазапросов

@mixin widthMax {
  @media (max-width: $media-maxW) {
    font-size: #{$font-h3/$font-body}rem;
  }
}

//! общие стили макета

//* отступы для логотипа в ui-kit
.logo-block {
  margin: 30px 0 0 30px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: $media-uMinW) {
    width: 100vw;
    padding: 0 5vw;
  }
}