//- colors

//- text, borders, etc
$primary-color: rgba(31, 32, 65, 0.75);
$secondary-color: rgba(31, 32, 65, 0.25);
$middle-color: rgba(31, 32, 65, 0.5);
$lightest-color: rgba(31, 32, 65, 0.05);
$dark-color: #1F2041;

//- theme colors
$primary-theme-color: rgb(188, 156, 255);
$secondary-theme-color: rgb(111, 207, 151);

$primary-gradient: linear-gradient(180deg, rgb(188, 156, 255) 0%, rgb(139, 164, 249) 100%);
$secondary-gradient: linear-gradient(180deg, rgb(111, 207, 151) 0%, rgb(102, 210, 234) 100%);

$primary-gradient-half-opacity: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
$secondary-gradient__half-opacity: linear-gradient(180deg, rgba(111, 207, 151, 0.5) 0%, rgba(102, 210, 234, 0.5) 100%);

//- types

$primary-type: Montserrat, Arial, sans-serif;
$secondary-type: QuicksandPro, Quicksand, Opensans, Arial, sans-serif;

//* брейкпоинты
$mediaMax: 1224px; // уменьшается только второстепенный шрифт и высота строки в футере
$mediaMid: 1024px; // уменьшается весь шрифт
$mediaMin: 768px; // переход на мобильную версию


@mixin head1 {
  font-family: $secondary-type;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $dark-color;
  //letter-spacing: -0.015em;
}

h1, .head1 {
  @include head1;
}

@mixin head2 {
  font-family: $secondary-type;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  //line-height: 24px;
  color: $dark-color;
  //letter-spacing: -0.015em;
}

h2, .head2 {
  @include head2;
}

@mixin head3 {
  font-family: $primary-type;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
  color: $dark-color;
}

h3, .head3 {
  @include head3;
}

@mixin regular {
  font-family: $primary-type;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: $primary-color;
}

body {
  @include regular;
}

@mixin materialIcons {
  font-family: "Material Icons";
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

//* миксин для трех иконок соцсетей в футере
@mixin fontAwesomeIcons {
  font-family: "fontello";
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  background: $primary-gradient;
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//* рамка для карточек (обертка карточек)

@mixin cardWrapper {
  width: 380px;
  //height: 374px;
  padding: 41px 29px 29px 29px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #ffffff;

  &:not(:only-child) {
    margin-bottom: 40px;
  }
}

//* миксины для медиазапросов

@mixin widthMax {
  @media (max-width: $mediaMax) {
    font-size: 12px;
    line-height: 20px;
  }
}

//! общие стили макета

//* отступы для логотипа в ui-kit
.logo-block {
  margin: 30px 0 0 30px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}