//- colors

//- text, borders, etc
$primary-color: rgba(31, 32, 65, 0.75);
$secondary-color: rgba(31, 32, 65, 0.25);
$middle-color: rgba(31, 32, 65, 0.5);
$lightest-color: rgba(31, 32, 65, 0.05);
$dark-color: #1F2041;

//- theme colors
$primary-theme-color: rgb(188, 156, 255);
$secondary-theme-color: rgb(111, 207, 151);

$primary-gradient: linear-gradient(180deg, rgb(188, 156, 255) 0%, rgb(139, 164, 249) 100%);
$secondary-gradient: linear-gradient(180deg, rgb(111, 207, 151) 0%, rgb(102, 210, 234) 100%);

$primary-gradient-half-opacity: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
$secondary-gradient__half-opacity: linear-gradient(180deg, rgba(111, 207, 151, 0.5) 0%, rgba(102, 210, 234, 0.5) 100%);

//- types

$primary-type: Montserrat, Arial, sans-serif;

@mixin head1 {
  font-family: QuicksandPro, Quicksand, Opensans, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $dark-color;
  //letter-spacing: -0.015em;
}

h1, .head1 {
  @include head1;
}

@mixin head2 {
  font-family: QuicksandPro, Quicksand, Opensans, Arial, sans-serif;;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  //line-height: 24px;
  color: $dark-color;
  //letter-spacing: -0.015em;
}

h2, .head2 {
  @include head2;
}

@mixin head3 {
  font-family: $primary-type;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
  color: $dark-color;
}

h3, .head3 {
  @include head3;
}

@mixin regular {
  font-family: $primary-type;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: $primary-color;
}

body {
  @include regular;
}

//* рамка для карточек (обертка карточек)

@mixin cardWrapper {
  width: 380px;
  //height: 374px;
  padding: 41px 29px 29px 29px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #ffffff;

  &:not(:only-child) {
    margin-bottom: 40px;
  }
}