//- радиокнопки
  options = {title, value, checked}

mixin radiobuttons(nameOfRadio, options = {})
  .radio-buttons-block
    each item in options
      .radio-buttons__item
        - unicId= `choose-${nameOfRadio}-${item.value}`
        input(id= unicId type= "radio" name= nameOfRadio value= item.value checked= item.checked)
        label(for= unicId)= item.title