.radio-buttons-block {
  display: flex;
  margin: 0;
}

.radio-buttons__item {
  max-width: 105px;
  margin-right: 20px;
  line-height: 1.42857rem;

  input[type=radio] {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  label {
    display: block;
  }

  input[type=radio] ~ label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    border: $border-base;
    box-sizing: border-box; // необходим, т.к. это псевдоэлемент(?)
    border-radius: 50%;
  }

  input[type=radio]:checked ~ label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    border: $border-depth $border-style $primary-theme-color;
    box-sizing: border-box;
    border-radius: 50%;
    background-image: $primary-gradient;
    box-shadow: inset 0 0 0 3px #ffffff;
  }
}