.pagination-block {
  display: inline-block;
  max-width: 100%;
  margin: 0 auto;

  .visually-hidden {
    display: none;
  }

  a, span {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: #{$font-h3/$font-body}rem;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: $middle-color;
  }

  i {
    margin-top: -3px;
    @include materialIcons;
    line-height: 1.42857rem;
    vertical-align: middle;
    color: #ffffff;
  }

  .back, .forward {
    border-radius: 50%;
    background: $secondary-gradient;
  }

  .currentPage {
    border-radius: 50%;
    font-weight: bold;
    color: #ffffff;
    background: $primary-gradient;
  }

  .discription {
    margin-top: 10px;
    text-align: center;
  }
}
