include ../input/input.pug

mixin calendar(type = "")
  //- type = "datesRange/arrivalDeparture/dateOfBirth"
  .calendar-container

    if (type == "arrivalDeparture")
      .inputs-wrapper--smaller
        +textField({
          title: "Прибытие",
          id: "start",
          style: "dropdown",
          withDatepicker: true,
          rangeAttributes: {"data-range": "true"},
          type: "text",
          name: "arrivalDeparture",
          placeholder: "ДД.ММ.ГГГГ",
          ariaLabel: "arrival date"
        })
        +textField({
          title: "Выезд",
          id: "end",
          style: "dropdown",
          withDatepicker: false,
          type: "text",
          name: "departureDate",
          placeholder: "ДД.ММ.ГГГГ",
          ariaLabel: "departure date"
        })

    if (type == "datesRange")
      +textField({
        title: "Даты пребывания в отеле",
        style: "dropdown",
        withDatepicker: true,
        rangeAttributes: {"data-range": "true"},
        type: "text",
        name: "arrivalDatesInterval",
        placeholder: "ДД.ММ.ГГГГ",
        ariaLabel: "arrival dates interval"
      })

    //if (type == "dateOfBirth")
      +textField({
        title: "Дата рождения",
        style: "",
        withDatepicker: false,
        type: "text",
        name: "dateOfBirth",
        placeholder: "ДД.ММ.ГГГГ",
        placeholderColor: "--light",
        ariaLabel: "date Of Birth"
      })