@import "./datepicker-customize.scss";

.calendar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.inputs-wrapper--smaller {
  display: grid;
  margin-bottom: 21px;
  grid-template-columns: 46.875% 46.875%;
  gap: 6.25%;
  width: 100%;
}