.radio-buttons-wrapper {
  display: flex;
  width: 100%;
  margin: 0px;
}

.radio-buttons__item {
  max-width: 105px;
  margin-right: 20px;
  outline: 2px solid yellowgreen;
  box-sizing: border-box;
}

.radio-buttons__item {
  input[type=radio] {
    display: none;
  }

  input[type=radio] ~ label {
    display: block;
    margin-left: 30px;
  }

  input[type=radio] ~ label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -30px;
    margin-right: 10px;
    margin-top: -7px;
    vertical-align: middle;
    border: 1px solid rgba(65, 31, 42, 0.25);
    /* Dark 25% */
    box-sizing: border-box;
    border-radius: 50%;
  }

  input[type=radio]:checked ~ label::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: -30px;
    margin-top: -7px;
    vertical-align: middle;
    border: none;
    box-sizing: border-box;
    border-radius: 50%;
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px #BC9CFF;
  }
}