@import "_fonts.scss";
@import "_mixins.scss";

html {
  width: 1440px;
  /*max-height: 1343px; /*высоту задавать плохо, понять надо ли она для ППиксель*/
  margin: 0;
  padding: 0;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  background-color: #ffffff;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/*далее идут тестовые стили*/
/*header {
  color: red;
}

div {
  font-family: Opensans, Arial, sans-serif;
  color: green;
}

footer {
  font-family: Quicksand, Arial, sans-serif;
  color: blue;
}*/