- var myTitle = "#"
- var descriptionContent = "Краткое описание"
- var keywordsContent = "самый, лучший, сайт"

doctype
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="description" content= descriptionContent)
    meta(name="keywords" content= keywordsContent)
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    title= myTitle
    link(rel="stylesheet" href="page-header.scss")
  body
    header
      div
    main            
      div.content Очень здорово!
    footer GREAAAT