doctype html
html(lang="en, ru")
  head
    meta(charset="utf-8")

    //-block meta-dates
    meta(name="description" content= "Краткое описание")
    meta(name="keywords" content= "самый, лучший, сайт")

    meta(name="viewport" content="initial-scale=1.0, width=device-width")

    block title

    //-block style
    //- !!!!!!не забыть подключить scss для сборки
      link(rel="stylesheet" href="../../../templates/common-template.css")

    link(rel="shortcut icon" href="../../theme/img/favicon.png" type="image/x-icon")

  body
    block variables
    block main

    block scripts