.checkbox-block {
  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] ~ label {
    display: block;
    margin-left: 30px;
    line-height: 18px; /* identical to box height, or 129% */
    color: $middle-color;
  }

  input[type=checkbox] ~ label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -30px;
    margin-right: 10px;
    margin-top: -7px;
    vertical-align: middle;
    border: 1px solid $secondary-color;
    box-sizing: border-box;
    border-radius: 4px;
  }

  input[type=checkbox]:checked ~ label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -30px;
    margin-top: -7px;
    vertical-align: middle;
    border: 1px solid $primary-theme-color;
    box-sizing: border-box;
    border-radius: 4px;
    /*background-color: seagreen;*/
    background: url("../img/checkbox.png") no-repeat 50% 50%;
  }
}