//- checkboxes base

mixin checkbox(id, title="someCheckbox", type="checkbox", name="default")
  .checkbox-wrapper
    input(id= id, type= type, name= name)&attributes(attributes)
    label(for= id)= title