doctype html
html(lang="en, ru")
  head
    meta(charset="utf-8")
    title test for fonts

    block style
      //- !!!!!!не забыть подключить scss для сборки
      link(rel="stylesheet" href="../templates/_fonts.css")

  body
    .font-regular-1 It's regular font 1 100%
    .font-regular-2 It's bold font 1 100%
    .font-regular-3 It's regular font 2 100%
    .font-regular-4 It's bold font 2 100%
    .font-regular-5 It's regular font 3 100%
    .font-regular-6 It's bold font 3 100%