- var rateNumber = 5; // - максимальное кол-во "звезд"

  mixin rating(value)
    .rate-buttons-block
      - var n = 1;
        while n < value +1
          i.material-icons star
          - n++

      - var n = 1
        while n < rateNumber - value + 1
          i.material-icons star_border
          - n++