@import "../../../templates/common-template.scss";

.ui-kit-logo {
  width: 48px;
  height: 48px;
  margin: 30px 0 0 30px;
  /*outline: 2px solid red;
  box-sizing: border-box;*/
}

section.inputs {
  display: flex;
  width: 100%;
  padding: 0;
  margin-left: 141px;
  margin-top: 65px;
  outline: 2px solid blue;
  box-sizing: border-box;
}

.inputs-wrapper {
  width: 320px;
  /*outline: 2px solid green;
  box-sizing: border-box;*/

  &--small {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 42px;
  }
}

@import "inputs/input.scss";

.input__item {
  margin-bottom: 20px;
  /*outline: 2px solid green;
  box-sizing: border-box;*/

  &--middle {
    max-width: 266px / 320px * 100%;
    margin-top: 21px;
    margin-bottom: 43px;
    /*outline: 2px solid red;
    box-sizing: border-box;*/
  }

  &--small {
    max-width: 150px / 320px * 100%;
    /*outline: 2px solid red;
    box-sizing: border-box;*/
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.toggles-wrapper {
  width: 260px;
  margin-left: 126px;
  outline: 2px solid green;
  box-sizing: border-box;
}

.checkbox-buttons__title,
.radio-buttons__title,
.toggles__title,
.like-buttons__title,
.rate-buttons__title {
  margin-bottom: 16px;
}

.checkbox-buttons {
  max-width: 225px;
  margin-bottom: 41px;
  outline: 2px solid red;
  box-sizing: border-box;
}

.checkbox-buttons__item {
  margin-top: 14px;
  /*outline: 2px solid blueviolet;
  box-sizing: border-box;*/
}

@import "checkbox/checkbox.scss";

.radio-buttons {
  /*max-width: 100%;*/
  margin-bottom: 40px;
  outline: 2px solid red;
  box-sizing: border-box;
}

@import "radiobuttons/radiobuttons.scss";

.toggles {
  /*max-width: 100%;*/
  margin-bottom: 40px;
  outline: 2px solid red;
  box-sizing: border-box;
}

@import "toggles/toggles.scss";

.toggle__item {
  margin-bottom: 10px;
  /*outline: 2px solid rosybrown;
  box-sizing: border-box;*/
}

.like-buttons {
  margin-bottom: 40px;
  outline: 2px solid red;
  box-sizing: border-box;
}

@import "likes/likes.scss";

.like-buttons__item {
  display: inline-block;
  margin-right: 10px;
  outline: 2px dashed yellow;
  box-sizing: border-box;
}

.rate-buttons {
  /*max-width: 100%;
  margin-bottom: 41px;*/
  outline: 2px solid red;
  box-sizing: border-box;
}

@import "ratebuttons/ratebuttons.scss";