@import '../../blocks/input/input.scss';
@import '../../blocks/social/social.scss';

footer.standard {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px $lightest-color;

  @media (max-width: $media-midW) {
    display: none;
  }
}

footer.mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  //width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 140px;
  padding: 120px 0 116px 0;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px $lightest-color;

  @media (max-width: $media-midW) {
    display: flex;
  }
}

.footer-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 11.11vh;
  padding-bottom: 9.22vh;
}

.footer-aside {
  max-width: 260px;
  margin-right: 2.86rem;

  &__description {
    @include widthMax; // уменьшает шрифт конкретного текста до 12рх
    margin-top: 17px;
  }
}

.footer-menu {
  display: flex;

  &__section {
    width: 11.43rem;
    margin-right: 2.86rem;

    &__title {
      margin-top: 4px;
      margin-bottom: 1.29rem;
      @include head3;
    }
  }
}

.footer-subscribe {
  max-width: 260px;

  &__input {
    margin-top: 1.64rem;
  }

  &__description {
    @include widthMax;
  }
}

.copyright-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 1.64rem;
  padding-bottom: 1.36rem;
}

.container.copyright-bar {
  border-top: $border-light;
}

.copyright-bar__info--mobile {
  margin-top: 17px;
  margin-bottom: 22px;
}


