@import '../../blocks/input/input.scss';
@import '../../blocks/social/social.scss';

footer.standard {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px $lightest-color;
}

footer.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 140px;
  padding: 120px 0 116px 0;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px $lightest-color;
}

.footer-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 83px;
}

.footer-aside {
  max-width: 260px;
  margin-right: 40px;

  &__description {
    @include widthMax; // уменьшает шрифт конкретного текста до 12рх
    margin-top: 17px;
  }
}

.footer-menu {
  display: flex;

  &__section {
    width: 160px;
    margin-right: 40px;

    &__title {
      @include head3;
      margin-top: 4px;
      margin-bottom: 18px;
    }
  }
}

.footer-subscribe {
  max-width: 260px;

  &__input {
    margin-top: 23px;
  }

  &__description {
    @include widthMax;
  }
}

.copyright-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 19px;
}

.container.copyright-bar {
    border-top: 1px solid rgba(31, 32, 65, 0.1);
}

.copyright-bar__info--mobile {
  margin-top: 17px;
  margin-bottom: 22px;
}


