//- like-button block with a heart

mixin likeButton(id="like", value="2", name="likes", type="checkbox")
  .like-button-block
    input(id= id, name= name, type= type)&attributes(attributes)
    label(for= id)= value