.like-button-block {
  width: 40px;
  height: 20px;
  margin: 0px;

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] ~ label {
    display: inline-block;
    position: relative;
    /*margin-left: 50px;*/
  }

  input[type=checkbox] ~ label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 20px;
    border: 1px solid rgba(65, 31, 42, 0.25);
    /* Dark 25% */
    box-sizing: border-box;
    border-radius: 10px;
  }

  input[type=checkbox]:checked ~ label::before {
    border: 1px solid #BC9CFF;
  }

  input[type=checkbox] ~ label::after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -46px;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: rgba(31, 32, 65, 0.25);
    transition-timing-function: ease-in;
    transition-duration: 200ms;
  }

  input[type=checkbox]:checked ~ label::after {    
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    transform: translateX(20px);
    transition-timing-function: ease-in;
    transition-duration: 200ms;
  }

  
}