.like-button-block {
  width: 40px;
  height: 20px;
  margin: 0px;
  outline: 2px solid violet;
  box-sizing: border-box;

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] ~ label {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    margin-top: -4px;
    vertical-align: middle;
    font-size: 10px;
    line-height: 20px;
    /* in ui-kit 12px - identical to box height */
    text-align: center;
    color: $secondary-color;
  }

  input[type=checkbox]:checked ~ label {
    color: $primary-theme-color;
  }

  input[type=checkbox] ~ label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: -20px;
    width: 40px;
    height: 20px;
    border: 1px solid $secondary-color;
    ;
    /* Dark 25% */
    box-sizing: border-box;
    border-radius: 10px;
  }

  input[type=checkbox]:checked ~ label::before {
    border: 1px solid $primary-theme-color;
  }

  input[type=checkbox] ~ label::after {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: -15px;
    content: "\e87e";
    font-family: "Material Icons";
    font-size: 10px;
    color: rgba(31, 32, 65, 0.25);
    margin-right: 12px;
    /*outline: 2px solid red;
    box-sizing: border-box;*/
  }

  input[type=checkbox]:checked ~ label::after {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: -15px;
    content: "\e87d";
    font-family: "Material Icons";
    font-size: 10px;
    color: $primary-theme-color;
    margin-right: 12px;
    /*outline: 2px solid red;
    box-sizing: border-box;*/
  }  
}