extends ../base/template.pug

block title
  title TOXIN TEST

block scripts

  script(src='./test.js')

block main
  .wrapper TEST
    mixin checkbox(id, title="someCheckbox", description= "", type="checkbox", name="default")

      - var ifRich= "";
      - var description1= ""

      if(description)
        - ifRich= "checkbox-label--rich";
        
      .checkbox-block
        input(id= id, type= type, name= name)&attributes(attributes)
        label(for= id, class= ifRich)= title + description1

        .checkbox-buttons
          h3.checkbox-buttons__title Checkbox Buttons
          .checkbox-buttons__item
            +checkbox("checkbox-smoke", "Можно курить", "На 1 этаже вас встретит специалист и проводит до номера.")

          .checkbox-buttons__item
            +checkbox("checkbox-pets", "Можно с питомцами")(checked)

          .checkbox-buttons__item
            +checkbox("checkbox-guests", "Можно пригласить гостей (до 10 человек)")(checked)